---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <div class="home-layout d-flex">
    <div class="column flex-col">
      <img
        class="mb-2"
        src="https://veronicagurgel.files.wordpress.com/2023/04/img_3615-e1680380574433.jpg?w=325"
      />
      <h1>Quem sou eu?</h1>
      <p>{{site.author}}</p>
      <p>
        {{site.subTitle}}
        <br />
        {{site.description}}
      </p>
    </div>
    <div class="column flex-col">
      {{ content }} {%- include whatsapp-button.html -%}
    </div>
  </div>
</div>
