---
layout: default
---

<div class="home">
  <div class="home-layout d-grid mb-3">
    <div class="column">
      <div class="center-mobile">
        <img alt="Foto de perfil" class="mb-2 round-img" src="{{'assets/images/profile_2.jpg' | relative_url}}" />
      </div>
      <h1>Quem sou eu?</h1>
      <p>{{ site.author }}</p>
        <a href="http://www.cadastro.cfp.org.br/visualizar.html?profissional=50TNqW6ExMtOzeb1w%2B%2BK30ozwd%2FxrXoFhMZvKVR1n9k%3D" alt="Página do CFP (Conselho Federal de Psicologia)">
          {{ site.subTitle }}
        </a>
      </p>
      <p>
        {{ site.description }}
      </p>
    </div>
    <div class="column justify">{{ content }}
      <div class="center-mobile">
        {%- include whatsapp-button.html
          label = "Conversar no Whatsapp" -%}
      </div>
    </div>
  </div>
  <div class="links-section justify">
    {%- for item in site.data.homeSections -%}
      {%- include homeAd.liquid
        icon=item.icon
        title=item.title
        content=item.content
        anchor=item.anchor -%}
    {%- endfor -%}
  </div>
  <div class="center">
    {%- include whatsapp-button.html label = "Conversar no Whatsapp" -%}
  </div>
</div>
